body {
  background: #c7c7c7;
  font-family: Arial;
  font-size: 12px;
}

#queue {
  position: absolute;
  top: 100px; left: 100px; right: 100px;
  height: 77px;
}
  #queue_fill {
    position: absolute;
    width: 100%; height: 75px;
    border: 1px solid #5c5c5c;
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
    background: transparent url(/images/queue_fill.png) repeat-x 0px -1px;
  }
  #queue .job {
    position: relative;
    margin-top: 1px;
    height: 75px;
    background: blue;
    float: left;
    overflow: hidden;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }
    #queue .completion {
      position: absolute;
      bottom: -1px;
      height: 30px;
      background: black;
      border: 1px solid white;
      -moz-border-radius: 10px; -webkit-border-radius: 10px;
      opacity: 0.5;
      overflow: hidden;
    }
    #queue .percent_complete {
      position: absolute;
      bottom: 8px; left: 8px;
      color: #c7c7c7;
      z-index: 10;
    }
    #queue .job_id {
      color: #333;
      font-size: 14px;
      position: absolute;
      top: 8px; left: 8px;
      z-index: 10;
    }