body {
  background: #979797;
  font-family: Arial;
  font-size: 12px;
  color: #252525;
}

.small_caps {
  font: 11px Arial, sans-serif;
  text-transform: uppercase;
}

#header {
  height: 110px;
  position: absolute;
  top: 0; left: 0; right: 0;
  background: url(/images/header_back.png);
}
  #logo {
    position: absolute;
    left: 37px; top: 9px;
    width: 236px; height: 91px;
    background: url(/images/logo.png);
  }

#queue {
  position: absolute;
  top: 16px; left: 327px; right: 15px;
  height: 77px;
  overflow: hidden;
}
  #no_jobs {
    text-align: left;
    position: absolute;
    bottom: 8px; right: 8px;
    color: #999;
    display: none;
  }
    #queue.no_jobs #no_jobs {
      display: block;
    }
  #queue_fill {
    position: absolute;
    left: 0; right: 0; top: 0;
    height: 75px;
    border: 1px solid #5c5c5c;
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
    background: transparent url(/images/queue_fill.png) repeat-x 0px -1px;
  }
    #queue.no_jobs #queue_fill {
      opacity: 0.3;
    }
  #queue .job {
    position: relative;
    margin-top: 1px;
    height: 75px;
    background: blue;
    float: left;
    overflow: hidden;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  }
    #queue .completion {
      position: absolute;
      bottom: -1px;
      height: 30px;
      background: black;
      border: 1px solid white;
      -moz-border-radius: 10px; -webkit-border-radius: 10px;
      opacity: 0.5;
      overflow: hidden;
    }
      #queue .completion.zero {
        border: 0;
      }
    #queue .percent_complete {
      position: absolute;
      bottom: 8px; left: 8px;
      color: #c7c7c7;
      z-index: 10;
    }
    #queue .job_id {
      color: #333;
      font-size: 14px;
      position: absolute;
      top: 8px; left: 8px;
      z-index: 10;
    }
    
#sidebar {
  position: absolute;
  top: 120px; left: 10px; bottom: 10px;
  width: 300px;
  overflow: hidden;
}
  #sidebar_background {
    position: absolute;
    top: 21px; bottom: 21px;
    width: 298px;
    background: #e0e0e0;
    border: 1px solid #8b8b8b;
    border-top: 0; border-bottom: 0;
  }
  .sidebar_back {
    position: absolute;
    height: 21px; width: 300px;
  }
    #sidebar_top {
      top: 0px;
      background: url(/images/sidebar_top.png);
    }
    #sidebar_bottom {
      bottom: 0px;
      background: url(/images/sidebar_bottom.png);
    }
  #sidebar_header {
    position: absolute;
    top: 5px; left: 8px;
    color: #404040;
    text-shadow: 0px 1px 1px #eee;
  }
    #sidebar_header.no_workers .no_workers,
    #sidebar_header .has_workers {
      display: block;
    }
    #sidebar_header .no_workers,
    #sidebar_header.no_workers .has_workers {
      display: none;
    }
  #workers {
    position: absolute;
    padding: 2px 0;
    top: 21px; left: 0; bottom: 21px;
    width: 298px;
    overflow-y: auto; overflow-x: hidden;
  }
    #workers .worker {
      border: 1px solid transparent;
      margin: 1px 7px;
      padding-left: 18px;
      font-size: 11px;
      line-height: 22px;
      background: url(/images/bullet_white.png) no-repeat left center;
      cursor: pointer;
    }
      #workers .worker.processing,
      #workers .worker.splitting,
      #workers .worker.merging {
        background: url(/images/bullet_green.png) no-repeat left center;
      }
      #workers .worker:hover {
        border: 1px solid #aaa;
        border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
        background-color: #ccc;
      }
      
#worker_info {
  position: absolute;
  width: 231px; height: 79px;
  margin: -9px 0 0 -20px;
  background: url(/images/worker_info.png);
  overflow: hidden;
  cursor: pointer;
}
  #worker_info_inner {
    margin: 15px 15px 15px 32px;
    line-height: 15px;
    color: #333;
    text-shadow: 0px 1px 1px #eee;
  }
    #worker_info.loading #worker_info_inner {
      background: url(/images/worker_info_loading.gif) no-repeat right bottom;
      width: 45px; height: 9px;
    }
    #worker_info.awake #worker_details, 
    #worker_sleeping {
      display: block;
    }
    #worker_details, #worker_info.loading #worker_details, 
    #worker_info.loading #worker_sleeping, #worker_info.awake #worker_sleeping {
      display: none;
    }
      
#graphs {
  position: absolute;
  padding: 17px 15px 15px 17px;
  top: 110px; left: 310px; right: 0px; bottom: 0;
  overflow: hidden;
  overflow-y: auto;
}
  .graph_container {
    margin-bottom: 25px;
  }
    .graph_title {
      color: #333;
      font-size: 16px;
      text-shadow: 0px 1px 1px #eee;
      margin-bottom: 10px;
    }
    .graph {
      height: 150px;
    }